<div class="container-wrap" style="text-align: right" >

    <a class="btn-danger" style="margin: 3px" href="/registro">Registrate</a>
  
    <a class="btn-info" style="margin: 3px" href="/verIncio">Incio sesion</a>
    <p></p>
</div>

<section id="colorlib-hero" class="js-fullheight" data-section="home">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                            <div class="slider-text-inner js-fullheight">
                                <div class="desc">
                                    <h1>Hola!<br>¿Necesitas ayuda sobre Tecnologia?</h1>
                                    <h2>Nosotros tenemos la solucion <p> <a href="https://www.youtube.com/" target="_blank">Visitanos en Youtube</a></p></h2>
                                    <p><a class="btn btn-primary btn-learn">App Disponoble<i class="icon-download4"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1>Avanzando<br>junto con la tecnologia</h1>
                                    <h2>Ofrecemos multiples opciones para tu empresa <a href="https://colorlib.com/" target="_blank">colorlib.com</a></h2>
                                    <p><a class="btn btn-primary btn-learn">Mire nuestros servicios <i class="icon-briefcase3"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="colorlib-about" data-section="about">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="col-md-12">
                        <div class="about-desc">
                            <span class="heading-meta">Acerca de nosotros</span>
                            <h2 class="colorlib-heading">¿Que servicios ofrecemos?</h2>
                            <p><strong>Descripcion aqui</strong> </p>
                            <p>Continucion con salto de linea</p>
                        </div>
                    </div>
                </div>
                <div class="row"  style="align-self: auto">
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                        <div class="services color-2">
                            <span class="icon2"><i class="icon-android"></i></span>
                            <h3>Software</h3>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
                        <div class="services color-3">
                            <span class="icon2"><i class="icon-data"></i></span>
                            <h3>Hardware</h3>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
                        <div class="services color-4">
                            <span class="icon2"><i class="icon-wi-fi"></i></span>
                            <h3>Redes y telecomunicaciones</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                        <div class="hire">
                            <h2>Aun no estas registrado<br>Te invitamos a formar parte de nuestra comunidad.</h2>
                            <a href="/registro" class="btn-hire">Registrate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="colorlib-services" data-section="services">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <span class="heading-meta">What I do?</span>
                <h2 class="colorlib-heading">Here are some of my expertise</h2>
            </div>
        </div>
        <div class="row row-pt-md">
            <div class="col-md-4 text-center animate-box">
                <div class="services color-1">
                    <span class="icon">
                        <i class="icon-bulb"></i>
                    </span>
                    <div class="desc">
                        <h3>Innovative Ideas</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-2">
                    <span class="icon">
                        <i class="icon-data"></i>
                    </span>
                    <div class="desc">
                        <h3>Software</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-3">
                    <span class="icon">
                        <i class="icon-phone3"></i>
                    </span>
                    <div class="desc">
                        <h3>Application</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-4">
                    <span class="icon">
                        <i class="icon-layers2"></i>
                    </span>
                    <div class="desc">
                        <h3>Graphic Design</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-5">
                    <span class="icon">
                        <i class="icon-data"></i>
                    </span>
                    <div class="desc">
                        <h3>Software</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-6">
                    <span class="icon">
                        <i class="icon-phone3"></i>
                    </span>
                    <div class="desc">
                        <h3>Application</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="colorlib-narrow-content">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-3 text-center animate-box">
                <span class="colorlib-counter js-counter" data-from="0" data-to="309" data-speed="5000" data-refresh-interval="50"></span>
                <span class="colorlib-counter-label">Cups of coffee</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="colorlib-counter js-counter" data-from="0" data-to="356" data-speed="5000" data-refresh-interval="50"></span>
                <span class="colorlib-counter-label">Projects</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="colorlib-counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50"></span>
                <span class="colorlib-counter-label">Clients</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="colorlib-counter js-counter" data-from="0" data-to="10" data-speed="5000" data-refresh-interval="50"></span>
                <span class="colorlib-counter-label">Partners</span>
            </div>
        </div>
    </div>
</div>

