



<section id="colorlib-hero" class="js-fullheight" data-section="home">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                            <div class="slider-text-inner js-fullheight">
                                <div class="desc">
                                    <h1>Hi! <br>I'm Jackson</h1>
                                    <h2>100% html5 bootstrap templates Made by <a href="https://colorlib.com/" target="_blank">colorlib.com</a></h2>
                                    <p><a class="btn btn-primary btn-learn">Download CV <i class="icon-download4"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1>I am <br>a Designer</h1>
                                    <h2>100% html5 bootstrap templates Made by <a href="https://colorlib.com/" target="_blank">colorlib.com</a></h2>
                                    <p><a class="btn btn-primary btn-learn">View Portfolio <i class="icon-briefcase3"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="colorlib-about" data-section="about">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
                    <div class="col-md-12">
                        <div class="about-desc">
                            <span class="heading-meta">About Us</span>
                            <h2 class="colorlib-heading">Who Am I?</h2>
                            <p><strong>Hi I'm Jackson Ford</strong> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                        <div class="services color-1">
                            <span class="icon2"><i class="icon-bulb"></i></span>
                            <h3>Graphic Design</h3>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                        <div class="services color-2">
                            <span class="icon2"><i class="icon-globe-outline"></i></span>
                            <h3>Web Design</h3>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInTop">
                        <div class="services color-3">
                            <span class="icon2"><i class="icon-data"></i></span>
                            <h3>Software</h3>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInBottom">
                        <div class="services color-4">
                            <span class="icon2"><i class="icon-phone3"></i></span>
                            <h3>Application</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
                        <div class="hire">
                            <h2>I am happy to know you <br>that 300+ projects done sucessfully!</h2>
                            <a href="#" class="btn-hire">Hire me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="colorlib-services" data-section="services">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <span class="heading-meta">What I do?</span>
                <h2 class="colorlib-heading">Here are some of my expertise</h2>
            </div>
        </div>
        <div class="row row-pt-md">
            <div class="col-md-4 text-center animate-box">
                <div class="services color-1">
                    <span class="icon">
                        <i class="icon-bulb"></i>
                    </span>
                    <div class="desc">
                        <h3>Innovative Ideas</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-2">
                    <span class="icon">
                        <i class="icon-data"></i>
                    </span>
                    <div class="desc">
                        <h3>Software</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-3">
                    <span class="icon">
                        <i class="icon-phone3"></i>
                    </span>
                    <div class="desc">
                        <h3>Application</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-4">
                    <span class="icon">
                        <i class="icon-layers2"></i>
                    </span>
                    <div class="desc">
                        <h3>Graphic Design</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-5">
                    <span class="icon">
                        <i class="icon-data"></i>
                    </span>
                    <div class="desc">
                        <h3>Software</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services color-6">
                    <span class="icon">
                        <i class="icon-phone3"></i>
                    </span>
                    <div class="desc">
                        <h3>Application</h3>
                        <p>Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="colorlib-narrow-content">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-3 text-center animate-box">
                <span class="colorlib-counter js-counter" data-from="0" data-to="309" data-speed="5000" data-refresh-interval="50"></span>
                <span class="colorlib-counter-label">Cups of coffee</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="colorlib-counter js-counter" data-from="0" data-to="356" data-speed="5000" data-refresh-interval="50"></span>
                <span class="colorlib-counter-label">Projects</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="colorlib-counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50"></span>
                <span class="colorlib-counter-label">Clients</span>
            </div>
            <div class="col-md-3 text-center animate-box">
                <span class="colorlib-counter js-counter" data-from="0" data-to="10" data-speed="5000" data-refresh-interval="50"></span>
                <span class="colorlib-counter-label">Partners</span>
            </div>
        </div>
    </div>
</div>

