<div class="container">
    <a href="/cerrar" class="btn btn-danger btn-sm" onclick="return confirm('Esta seguro de cerrar sesion?')">Cerrar sesion</a>
</div>
<div class="container-wrap">
    <h1>Modulos</h1>
    <ul>

        <li><a href="/usuario" class="btn btn-primary">Cliente</a></li>
        <li><a href="/vehiculo" class="btn btn-primary" >Venta vehiculo</a></li>

    </ul>
</div>

